@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 1rem 1rem;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  
}

.rowHeight {
  height: 768px;
  /* border: 1px solid black; */
}

.container {
  width: max-content;
  height: max-content;
  box-sizing: border-box;
  position: absolute;
  /* border: 1px solid black; */
}

.border-content {
  border: 1px solid #333;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeContainer {
  color: rgba(75,75,75,0.75);
  font-size: 30px;
  margin-left: 105%;
  width: fit-content;
  /* translate: calc(87%) calc(-350%); */
}

.square {
  border: 1px solid rgba(75,75,75,0.3);
  background-color: #fff;
  width: 128%;
  margin-left: -3%;
  height: fit-content;
  /* translate: calc(0%) calc(20%); */
  margin-top: 5%;
  border-radius: .75rem;
  box-shadow: -3px 23px 15px -24px rgba(0,0,0,0.43);
  -webkit-box-shadow: -3px 23px 15px -24px rgba(0,0,0,0.43);
  -moz-box-shadow: -3px 23px 15px -24px rgba(0,0,0,0.43);
  
}

.title-card {
  height: fit-content;
  translate: calc(5%) calc(-4%);
  box-shadow: -3px 23px 15px -24px rgba(0,0,0,0.43);
  -webkit-box-shadow: -3px 23px 15px -24px rgba(0,0,0,0.43);
  -moz-box-shadow: -3px 23px 15px -24px rgba(0,0,0,0.43);
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.71);
  overflow: hidden;
}

.title-card h1 {
  padding: 0 1em;
  display: flex;
  justify-content: center;
  translate: 0rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
  color: #4B4B4B;
}



.title-card p {
  padding: 1em 1em;
  display: flex;
  justify-content: center;
  translate: 0rem 1rem;
}


.main-card {
  background-color: #fff;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
  box-shadow: 11px 11px 5px 3px rgba(75,75,75,0.75);
  -webkit-box-shadow: 11px 11px 5px 3px rgba(75,75,75,0.75);
  -moz-box-shadow: 11px 11px 5px 3px rgba(75,75,75,0.75);
}

.imagePic {
  width: 50%;
  padding: 1rem;
  margin-left: calc(20%);
}


/* change transition duration to control the speed of fade effect */
.carousel-item {
  transition: transform 1.5s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
}

.captions {
  columns: #fff;
}

.annoucement-bg {
  margin-top: -5%;
  margin-left: 6%;
}

.main-bg {
  transform: skewX(-40deg);
  color: #fff;
  width: 330px;
  height: 90px;
  padding: .3rem 0rem;
  background-color: #050577;
  border: 1px solid #333;
  box-shadow: -11px -9px 0px 2px rgba(75,75,75,0.75);
  -webkit-box-shadow: -11px -9px 0px 2px rgba(75,75,75,0.75);
  -moz-box-shadow: -11px -9px 0px 2px rgba(75,75,75,0.75);
}

.main-bg h1 {
  transform: skewX(40deg);
  margin-top: .75rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  color: #fff;
}


/* SIDE AREA */
.sederLogo {
  width: 45%;
  margin-left: calc(15%);
  margin-top: calc(10%);
}

.side-Container {
  height: 100vh;
  margin-left: calc(5%);
}


.weather-widget {
  display: block;
  position: absolute;
  margin-top: calc(5%);
  margin-left: calc(0%);
  position: absolute;
}

.sun-weather {
  width: 15%;
  margin-top: calc(-3%);
}

.moon-weather {
  width: 25%;
  margin-left: calc(-5%);
  margin-top: calc(-3%);
}

.cloud-weather {
  width: 20%;
  margin-left: calc(-17%);
  margin-top: calc(5%);
  animation: move 480s linear infinite;
  overflow: visible;
}
.cloud-weather-night{
  width: 25%;
  margin-left: calc(-20%);
  margin-top: calc(5%);
  animation: move 480s linear infinite;
  overflow: visible;
}

@keyframes move {
  0% { transform: translate3d(-100%, 0, 0); }
  100% { transform: translate3d(100%, 0, 0); }
}

.Date {
  /* translate: calc(0%) calc(-80%); */
  margin-top: -3%;
  font-size: 30px;
  color: #4B4B4B;
}

.copyrights {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #4B4B4B 0%,
    #4B4B4B 29%,
    #4B4B4B 67%,
    #4B4B4B 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 26px;
  margin-left: 3%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

 .Location {
  translate: calc(0%) calc(2%);
  font-size: 30px;
  color: #4B4B4B;
}

.footer-News {
  width: 100%;
  height: 70px;
  background-color: #050577;
  margin-top: -13%;
  margin-left: -2.5%;
  overflow: hidden;
}

.hmove { display: flex; }

.hitem {
  color: #fff;
  font-size: 24px;
  flex-shrink: 0;
  margin-top: -.2%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
 
@keyframes tickerh {
  0% { transform: translate3d(-400%, 0, 0); }
  100% { transform: translate3d(100%, 0, 0); }
}
.hmove { animation: tickerh linear 60s infinite; }
.hmove:hover { animation-play-state: paused; }


/* Empty Component*/


.sederEmpty {
  height: 100vh;
  border: 1px solid #333;
}

/* .LogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(15%);
}

.sizePhoto {
  width: 15%;
}

.departmentContainer {
  border: 1px solid #333;
  padding: 1rem;
  margin-top: calc(9%);
} */

@media (min-width: 1240px) and (max-width: 3840px) {
  * {
    padding: 0;
    margin: 1rem 1rem;
    box-sizing: border-box;
  }
}